div{
    width: 200px;
    height: 200px;
    margin: 300px;
    background-color: aquamarine;

   /* transform: translate(850px,350px);*/
    transform:matrix(1,-0.3,3,0,0,0); 
    color: rgb(172, 115, 115);
}

